body {
  background-color: #1a1a2e;
  color: #fff;
  font-family: 'Montserrat', sans-serif; /* Montserrat font for the rest */
}

h1 {
  text-align: center;
  font-family: 'Montserrat', cursive;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-family: 'Montserrat', cursive;
  font-weight: lighter;
}

.column {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  min-height: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #464866;
  border-radius: 10px;
}

.note {
  margin: 0 0 10px;
  padding: 10px;
  background-color: #efefef;
  border: 1px solid #ddd;
  cursor: grab;
  border-radius: 10px;
}

.date-created {
  font-size: small;
  color:#848484;
}

.text-editor {
  width: calc(100% - 40px);
  height: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #efefef;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 999; /* Ensure the overlay is behind the popup */
}

button {
  font-size: xx-small;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 50%;
  background-color: #ff3e56;
  border: none;
  color: #fff;
  cursor: pointer;
}

.title-editor {
  width: calc(100% - 40px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.title-div {
  font-weight: bold;
  color:#0b0b0b;
}

.content-div {
  max-height: 80px;
  min-height: 35px;
  position: relative;
  overflow: hidden;
  color:#0b0b0b;
}

.content-div:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #efefef 5px, transparent);
}

.editable-header {
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.editable-header h3[contenteditable="true"] {
  overflow: hidden;
  background-color: #0b0b0b;
  border: 1px solid #ccc;
}
