.column {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    min-height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
  }
  
  .note {
    margin: 0 0 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: grab;
  }

  .text-editor {
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  .date-created {
    font-size: 12px;
    color: #666666;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .popup button {
    margin-bottom: 10px;
  }

  .title-div {
    font-weight: bold;
  }

  .content-div {
    max-height: 80px;
    min-height: 35px;
    position: relative; /* Required for positioning the pseudo-element */
    overflow: hidden;
    
  }

  .content-div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(255, 255, 255) 5px, transparent);
  }

  .editable-header {
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Webkit browsers (Chrome, Safari) */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE10+ */
    -o-user-select: none;
  }

  .editable-header h3[contenteditable="true"] {
    /* Style for the editable header */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }
